
@{ 
    ViewData["Title"] = "PassUsingViewData";
    var data = ViewData["data"] as lab1.Models.Model;
    }

<h2>PassUsingViewData</h2>

<div><b>Rand Value First: @data.first</b></div>
<div><b>Rand Value Second: @data.second</b></div>
<div>
    <b>Add :</b>
    <br />
    <div>  @data.first + @data.second = @data.resAdd</div>
  
</div>
<div>
    <b>Sub :</b>
    <br />
    <div>  @data.first - @data.second = @data.resSub</div>
  
</div>
<div>
    <b>Mult :</b>
    <br />
    <div> @data.first * @data.second = @data.resMult</div>
   
</div>
<div>
    <b>Div :</b>
    <br />
    <div>
        @data.first / @data.second = @if (data.resDiv == -1)
        {
    @: error
}
else
{
    @data.resDiv}
    </div>
 
</div>